<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/portfolio.png" alt="#" width="30" height="24" class="d-inline-block align-text-top">
      Portfolio
    </a>
  </div>
</nav>
<br>
<div class="card-group">
  <div class="card">
    <img src="../../assets/images/s1JPG.JPG" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Home Page</h5>
      <p class="card-text">Sorelle Apparel introductory page</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/s2.JPG" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Features</h5>
      <p class="card-text">Items that are on sale, new release, and best sellers.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/s3.JPG" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Store</h5>
      <p class="card-text">List of products</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
<br>