<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/about.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      About
    </a>
  </div>
</nav>

  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">Full Name: Jeffrey Garcia Valencia</li>
    <li class="list-group-item list-group-item-secondary">Age: 23 yrs old</li>
    <li class="list-group-item list-group-item-success">Birthday: July 09, 1998</li>
    <li class="list-group-item list-group-item-danger">Sex: Male</li>
    <li class="list-group-item list-group-item-warning">Address: Porac Pampanga</li>
    <li class="list-group-item list-group-item-dark">Status: Single</li>
  </ul>
<br>
